%p
  Welcome to the Keygen beta! I'm excited to show you around!
%p
  Please click the link below to accept this invitation.
  %br
  = link_to "https://app.keygen.sh/invite/#{@token}", "https://app.keygen.sh/invite/#{@token}", class: "ellipsis"
%p
  Getting started is easy! There are three main steps:
%ol
  %li
    Add your <strong>product</strong>. This can be done from your #{link_to "dashboard", "https://app.keygen.sh"},
    or directly through Keygen's REST API.
  %li
    Create your first <strong>policy</strong>. These define the different types
    of licenses that your product offers.
  %li
    <strong>Integrate Keygen</strong> into your product and start accepting new
    users and licenses!
%p
  Want more info? Check out our #{link_to "documentation", "https://keygen.sh/docs/api"}
  for an in-depth API reference and Getting Started guide.
%p
  I'd be happy to help you out with any of these steps! Feel free to contact me
  anytime for help or feedback. You can reply to this email directly.
