%h3 Usage report for #{@date.strftime "%m/%d/%Y"}

%p There were #{number_with_delimiter @request_count} total requests across #{number_with_delimiter @reports.size} accounts.

- if @reports.any?
  %ul
    - @reports.each do |report|
      %li
        %strong Account ID:
        %span #{report.account.id} / #{report.account.slug}
        %br
        %strong Contact:
        %span #{report.admin.full_name} / #{mail_to report.admin.email}
        %br
        %strong Requests:
        %span(style="color: #{report.request_limit_exceeded ? '#cb2431' : '#2cbe4e'}")
          #{number_with_delimiter report.request_count} / #{number_with_delimiter report.request_limit || 'unlimited'}
        %br
        %strong Plan:
        %span #{report.account.plan.name} / #{report.account.billing.state}
- else
  %p Nothing to report