-# frozen_string_literal: true
!!!
%html
  %head
    %meta(content="width=device-width" name="viewport")
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
    %title= message.subject
    :sass
      body
        padding: 20px
        font:
          family: sans-serif
          size: 14px
        line:
          height: 1.5
      a
        color: #0000ff
        &.ellipsis
          display: block
          text:
            overflow: ellipsis
          white:
            space: nowrap
          max:
            width: 100%
          overflow: hidden
      ul
        &.no-margin
          margin: 0
      hr
        margin: 20px 0
        outline: none
        border: none
        border:
          top: 1px solid #f3f3f3
  %body
    %p
      #{@account.name},
    = yield
    %p
      Kind regards,
    %p
      Zeke Gabrielse
      %br
      Founder
    %hr
    %small Techinical information for your account, in case you need it:
    %ul.no-margin
      %li
        %small Account login: #{link_to "https://app.keygen.sh/login", "https://app.keygen.sh/login?account=" + @account.id} (bookmark this for easier access)
      %li
        %small Account name: #{@account.name}
      %li
        %small Account ID: #{@account.id}
      %li
        %small Account slug: #{@account.slug}
      %li
        %small Admin email: #{@user.email}
      %li
        %small Time: #{Time.current}
