-# frozen_string_literal: true
!!!
%html
  %head
    %meta(content="width=device-width" name="viewport")
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
    %title= message.subject
    :sass
      body
        padding: 20px
        font:
          family: sans-serif
          size: 14px
        line:
          height: 1.5
      a
        color: #0000ff
        &.ellipsis
          display: block
          text:
            overflow: ellipsis
          white:
            space: nowrap
          max:
            width: 100%
          overflow: hidden
      ul
        &.no-margin
          margin: 0
      hr
        margin: 20px 0
        outline: none
        border: none
        border:
          top: 1px solid #f3f3f3
  %body
    %p
      #{@account.name},
    = yield
    %p
      King regards,
      %br
      %br
      Zeke Gabrielse, Founder of Keygen
    %p
      %small This is an automated message, but feel free to reply and you'll hit my personal inbox!
    %hr
    %small Additional information:
    %ul.no-margin
      %li
        %small Account ID: #{@account.id}
      %li
        %small Account name: #{@account.slug}
      %li
        %small Time: #{Time.current}
